{% extends 'base.html' %}
{% block body_block %}

<div class="container mt-5">
    <div class="card shadow p-4 text-center border-0 rounded-4">

        <h3 class="text-danger fw-bold">⚠ Xác nhận xóa</h3>
        <p class="mt-3">
            Bạn có chắc muốn xóa khách hàng:
            <strong>{{ customer.name }}</strong>?
        </p>

        <form method="POST" class="mt-3">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger px-4">🗑 Xóa</button>
            <a href="{% url 'customer_detail' customer.id %}" class="btn btn-secondary px-4">Hủy</a>
        </form>

    </div>
</div>

{% endblock %}
